/* .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[mat-dialog-actions] {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
} */

.mat-dialog-container {
    max-width: 400px;
    width: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-dialog-content {
    white-space: normal;
    word-wrap: break-word;
}